body{
	font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.navbar{
	display: inline-block;
	width: 100%;
}

.site-name{
	float: left;
	line-height: 36px;
	vertical-align: middle;
	margin-left:80px;
}

.shopping-cart{
	display: inline-block;
	float:right;
	width:110px;
	line-height: 36px;
	vertical-align:middle;
	margin-right:80px;
}

.shopping-cart img{
	height:30px;
	width:30px;
	vertical-align: middle;
}

.cart-image{
	float:left;
	line-height: 36px;
	vertical-align: middle;
}

.cart-text{
	float:right;
	line-height: 36px;
	vertical-align: middle;
}

.main-image img{
	width:100%;
	height:400px;
	opacity:0.5;
}

.main-image-title{
	text-align: center;
	background-color: #333333;
	color: white;
	height:150px;
	line-height: 150px;
	vertical-align: middle;
}

h1{
	font-size: 40px;
}

h2{
	font-size: 24px;
}

h2 em{
	font-style: italic;
}

.intro{
	text-align: center;
	color: gray;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	border-bottom: 1px solid gray;
}

.shopping-content{
	margin-left:100px;
	margin-right:100px;
}

.ax-box{
	display: inline-block;
	height:220px;
	width:250px;
	margin:50px;
	vertical-align: middle;
	border: 1px solid gray;
}

.ax-box-header{
	height:30px;
	float:top;
	text-align: center;
	line-height: 30px;
	background-color: #333333;
	color: white;
}

.ax-box-image img{
	height:150px;
	width:100%;
	align-content: center;
}

.ax-box-image{
	position: relative;
}

.price-tag{
	border:1px solid gray;
	position: absolute;
	top:0;
	right:0;
	color: gray;
	width:50px;
	height:20px;
	text-align: center;
	line-height: 20px;
	vertical-align: middle;
}



.ax-box-footer{
	height:30px;
	width:100%;
	float:bottom;
	background-color: #333333;
	padding-top:7px;
}

.cart-button{
	height:20px;
	width:150px;
	text-align: center;
	line-height: 20px;
	vertical-align: middle;
	margin-top:3px;
	margin-left:50px;
	margin-right:50px;
	background-color: #ffc299;
}

.footer{
	text-align: center;
	background-color: #333333;
	color: white;
	height:100px;
	vertical-align: middle;
	padding-top:25px;
	padding-bottom:25px;
}

.contact{
	font-size:18px;
	color:#ffc299;
	display: inline-block;
}

.contact img{
	height:20px;
	width:20px;
}

.contact-number, .contact-email{
	color: white;
}